<style>
    .image-feed{
        width: 300px;
        height: 300px;
    }
</style>

<div class="container">
    
    <form #registerForm="ngForm">
        <legend>Register</legend>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" required  [(ngModel)]="user.name" class="form-control"  ngControl="name"  #name="ngForm" placeholder="Name">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Name is required
            </div>
        </div>
        

        <div class="form-group">
            <label for="dateOfBirth">Birth Date</label>
            <input name="dateOfBirth" type="date" [(ngModel)]="user.birth" class="form-control" placeholder="Birth Date">
        </div>   
        
        
        <div class="form-group">
            <label for="sex">Sex: {{user.sex}}</label>
            <select name="sex" [(ngModel)]="user.sex" id="input1/(\w+)/\u\1/g" class="form-control">
                <option *ngFor="let item of sexList" value="{{item}}">{{item}}</option>
            </select>
        </div>        
        
    
        <button type="submit" (click)="update()" class="btn btn-primary" [disabled]="!registerForm.form.valid">Submit</button>
    </form>    
    
</div>

<br/>
<br/>

<div class="container">

 <div class="widget">  
     <p>Add images to your profile</p>
     <br/>   
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div upload=""  [destination]="'Image_Profile'" [showpush]="'false'" [user]="user"></div>   
     </div>
 </div>

 <div class="widget">     

     <p>My images</p>

     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

         <div class="row">
                <div class="col-md-4" *ngFor="let item of photos">
                    <a href="{{item.url}}" class="thumbnail">                        
                        <img src="{{item.url}}" alt="Pulpit Rock" style="width:150px;height:150px">
                    </a>
                </div>                
            </div>
         
     </div>
 </div>

</div>


